In [59]:
import numpy as np 
from utils.features_engineering import market_features_engineering
from utils.fetch_market_data import fetch_stock

In [60]:
ticker = "TSLA"

In [61]:
# Get at least 100 days of market data to compute features (for MA_100)
histo = fetch_market_data.fetch_stock(ticker)
histo

,close,high,low,open,volume,divCash
date,,,,,,
2022-04-06 00:00:00+00:00,348.586667,359.666667,342.566667,357.823333,89348535,0.0
2022-04-07 00:00:00+00:00,352.420000,358.863333,340.513367,350.796667,79447059,0.0
2022-04-08 00:00:00+00:00,341.830000,349.480000,340.811667,347.736667,55013688,0.0
2022-04-11 00:00:00+00:00,325.310000,336.156033,324.880000,326.800000,59357205,0.0
2022-04-12 00:00:00+00:00,328.983333,340.397367,325.533367,332.546667,65976096,0.0
...,...,...,...,...,...,...
2023-05-04 00:00:00+00:00,161.200000,162.950000,159.650000,162.710000,95108492,0.0
2023-05-05 00:00:00+00:00,170.060000,170.789900,163.510000,163.970000,107607259,0.0
2023-05-08 00:00:00+00:00,171.790000,173.800000,169.190000,173.720000,112249449,0.0
2023-05-09 00:00:00+00:00,169.150000,169.820000,166.560000,168.950000,88965043,0.0
2023-05-10 00:00:00+00:00,168.540000,174.430000,166.680000,172.550000,119840693,0.0

In [63]:
X = market_features_engineering(histo)
X

,volume_chg,open_return,high_return,low_return,intraday_amplitude,close_return,volume_chg_5day,volume_chg_1month,MA5_21_cross,close_to_MA5,...,close_to_MA100,return_2d,return_3d,return_4d,return_5d,return_1m,return_2m,return_3m,volatility_1m,volatility_2m
date,,,,,,,,,,,,,,,,,,,,,
2022-04-06 00:00:00+00:00,NaN,NaN,NaN,NaN,0.717799,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-07 00:00:00+00:00,-0.110819,-0.019833,-0.002236,-0.006012,0.719735,0.010937,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-08 00:00:00+00:00,-0.307543,-0.008761,-0.026495,0.000876,0.705784,-0.030510,NaN,NaN,NaN,NaN,...,NaN,-0.019573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-11 00:00:00+00:00,0.078953,-0.062097,-0.038871,-0.047874,0.710352,-0.049535,NaN,NaN,NaN,NaN,...,NaN,-0.080045,-0.069108,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-12 00:00:00+00:00,0.111509,0.017432,0.012538,0.002009,0.715721,0.011229,NaN,NaN,NaN,-0.030766,...,NaN,-0.038306,-0.068817,-0.057880,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-04 00:00:00+00:00,-0.205628,0.016733,-0.012502,-0.001627,0.703429,0.003667,-0.251204,-0.247939,-0.061916,-0.002796,...,-0.048116,0.005536,-0.003901,-0.019109,0.006285,-0.177866,-0.184232,-0.155231,0.030413,0.032469
2023-05-05 00:00:00+00:00,0.131416,0.007714,0.046991,0.023890,0.715164,0.053505,-0.121687,-0.196256,-0.051189,0.044582,...,0.004735,0.057172,0.059042,0.049605,0.034396,-0.087011,-0.098747,-0.110767,0.032491,0.033364
2023-05-08 00:00:00+00:00,0.043140,0.057761,0.017471,0.034148,0.706679,0.010121,0.029669,-0.093724,-0.036029,0.042453,...,0.014718,0.063627,0.067294,0.069163,0.059726,-0.074407,-0.057734,-0.125495,0.032639,0.033108
2023-05-09 00:00:00+00:00,-0.207434,-0.027842,-0.023166,-0.015667,0.702886,-0.015487,-0.306368,-0.374167,-0.021501,0.015538,...,-0.001359,-0.005365,0.048140,0.051807,0.053676,-0.086918,-0.022043,-0.151453,0.032742,0.032245
2023-05-10 00:00:00+00:00,0.347054,0.021084,0.026784,0.000720,0.716129,-0.003613,0.000941,0.035154,-0.007114,0.002331,...,-0.005650,-0.019100,-0.008978,0.044527,0.048194,-0.102812,-0.028659,-0.177574,0.032527,0.032243

In [64]:
from joblib import dump, load

In [65]:
model = load('C:/Users/Julien/Documents/EI/Datascientest/MLOps/Projet/MAR23_MLOps_Trading_Bot/trained_models/lgbm_market.joblib')

In [66]:
model.predict(np.array(X.iloc[-1]).reshape(1, -1))

array([0.00047122])