In [33]:
import numpy as np 
from utils.features_engineering import market_features_engineering
from utils.fetch_market_data import fetch_stock
from joblib import load

In [28]:
# Choose ticker
ticker = "TSLA"

In [29]:
# Get at least 100 days of market data to compute features (for MA_100)
histo = fetch_stock(ticker)
histo

,close,high,low,open,volume,divCash
date,,,,,,
2022-10-24 00:00:00+00:00,211.250,213.5000,198.5863,205.82,100446765,0.0
2022-10-25 00:00:00+00:00,222.415,224.3498,210.0000,210.10,96507870,0.0
2022-10-26 00:00:00+00:00,224.640,230.6000,218.2000,219.40,85327078,0.0
2022-10-27 00:00:00+00:00,225.090,233.8100,222.8500,229.77,61638824,0.0
2022-10-28 00:00:00+00:00,228.520,228.8600,216.3500,225.40,69152386,0.0
...,...,...,...,...,...,...
2023-05-05 00:00:00+00:00,170.060,170.7899,163.5100,163.97,107607259,0.0
2023-05-08 00:00:00+00:00,171.790,173.8000,169.1900,173.72,112249449,0.0
2023-05-09 00:00:00+00:00,169.150,169.8200,166.5600,168.95,88965043,0.0
2023-05-10 00:00:00+00:00,168.540,174.4300,166.6800,172.55,119840693,0.0
2023-05-11 00:00:00+00:00,172.080,173.5700,166.7900,168.70,103889930,0.0

In [37]:
X = market_features_engineering(histo)
X["return_1m"]

date
2022-10-24 00:00:00+00:00         NaN
2022-10-25 00:00:00+00:00         NaN
2022-10-26 00:00:00+00:00         NaN
2022-10-27 00:00:00+00:00         NaN
2022-10-28 00:00:00+00:00         NaN
                               ...
2023-05-05 00:00:00+00:00   -0.087011
2023-05-08 00:00:00+00:00   -0.074407
2023-05-09 00:00:00+00:00   -0.086918
2023-05-10 00:00:00+00:00   -0.102812
2023-05-11 00:00:00+00:00   -0.047993
Name: return_1m, Length: 138, dtype: float64

In [14]:
model = load('C:/Users/Julien/Documents/EI/Datascientest/MLOps/Projet/MAR23_MLOps_Trading_Bot/trained_models/lgbm_market_1d.joblib') 
# model = load('/lgbm_market_1d.joblib')

In [23]:
model.predict(np.array(X.iloc[-1]).reshape(1, -1))

ValueError: Number of features of the model must match the input. Model n_features_ is 23 and input n_features is 22